h1 {
  font-size: 50px;
  color: pink;
}

h2 {
font-size: 30px;
color: green;
}

#bio {
  color: white;
  background-color: maroon;
}

.pink {
  background-color: lightblue;
}

img {
  width: 300px;
  height: 300px;
}
